@{
    ViewBag.Title = "Main1";
}

<h2>Pick Me!</h2>

<section ng-controller="DisplayController as display" ng-init="display.page = 1">

    <div class="col-xs-2" ng-repeat="picture in display.pictures">
        <img src='/Picks/GetImage/{{picture.Id}}' />
        <div>{{picture.Description}}</div>
        <div>{{picture.PostedOn}}</div>
        <div>{{picture.PostedBy}}</div>
    </div>
    <div class="pagebar btn-group" role="group" aria-label="...">
        <button ng-hide="display.page === 1" type="button" class="btn btn-default"><a href ng-click='display.goto(display.page - 1)'>go to page {{display.page - 1}}</a></button>
        <button type="button" class="btn btn-default">this is page {{display.page}}</button>
        <button type="button" class="btn btn-default"><a href ng-click='display.goto(display.page + 1)'>go to page {{display.page + 1}}</a></button>

    </div>

</section>
<section ng-controller="CreateController as create">
    <div class="modal fade" id="createModal">
        <div class="modal-dialog">
            <form ng-submit='add(pick)' enctype="multipart/form-data" method="post" ng-model="create.pick">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add New!</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label col-md-2" >Description</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text"  ng-model="create.pick.description" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Url</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line"  type="text" name="pick.url" ng-model="create.pick.url" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Url" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="file"  ng-model="create.pick.file" />
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="button-primary"/>
                       <span>description = {{create.pick.description}}</span>
                        <p>{{create.pick.url}}</p>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <p>{{create.works}}</p>
    <button data-toggle="modal" data-target="#createModal">Click to add another</button>
</section>



