@{
    ViewBag.Title = "Main1";
}

<h2>Pick Me!</h2>
<section ng-controller="DisplayController as display" ng-init="display.page = 1">
   
     <div class="col-xs-2" ng-repeat="picture in display.pictures">
        <img src='/Picks/GetImage/{{picture.Id}}' />
        <div>{{picture.Description}}</div>
        <div>{{picture.PostedOn}}</div>
        <div>{{picture.PostedBy}}</div>
    </div>
    <div class="pagebar btn-group" role="group" aria-label="...">
        <button ng-hide="display.page === 1" type="button" class="btn btn-default"><a href ng-click='display.goto(display.page - 1)'>go to page {{display.page - 1}}</a></button>
        <button type="button" class="btn btn-default">this is page {{display.page}}</button>
        <button type="button" class="btn btn-default"><a href ng-click='display.goto(display.page + 1)'>go to page {{display.page + 1}}</a></button>

    </div>

</section>
<section ng-controller="CreateController as create">
    <button>Click to add another</button>
    <!--create file upload form-->
    <div>
        <input type="file" name="File" id="File" />
    </div>
    <!--create add description-->


    <!--create enter url-->

</section>
    
</>
   
