@{
    ViewBag.Title = "Pick Me!";
}



<section ng-controller="DisplayController as display" ng-init="display.page = 1">
    <h2>Pick Me!</h2>
    <button data-toggle="modal" data-target="#createModal" class="btn btn-primary addbutton">Click to add another</button>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 pick" ng-repeat="picture in display.pictures.slice(0,6)">
                <img class="picture" ng-src='/Picks/GetImage/{{picture.Id}}' />
                <p>{{picture.Description}}</p>
                <p>{{picture.PostedOn}}</p>
                <p>{{picture.PostedBy}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 pick" ng-repeat="picture in display.pictures.slice(6,12)">
                <img class="picture" ng-src='/Picks/GetImage/{{picture.Id}}' />
                <p>{{picture.Description}}</p>
                <p>{{picture.PostedOn}}</p>
                <p>{{picture.PostedBy}}</p>
            </div>
        </div>

    </div>
    <div class="pagebar btn-group" role="group" aria-label="...">
        <button ng-hide="display.page <= 2" type="button" class="btn btn-default"><a href ng-click='display.goto(1)'>go to page 1</a></button>
        <button ng-hide="display.page === 1" type="button" class="btn btn-default"><a href ng-click='display.goto(display.page - 1)'>go to page {{display.page - 1}}</a></button>
        <button type="button" class="btn btn-default">this is page {{display.page}}</button>
        <button type="button" class="btn btn-default"><a href ng-click='display.goto(display.page + 1)'>go to page {{display.page + 1}}</a></button>

    </div>

    <div class="modal fade" id="createModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add New!</h4>
                </div>
                <div class="container">
                    <form ng-submit='display.add(pick)' name="addpickform" class="createform form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">Description</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="pick.description" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Url</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="pick.url" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Url" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>



